.conventer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(40, 15, 63);
    padding-top: 60px;
}